on property:bs.test.prop01=1
 setprop bs.test.prop02 "1"
 
on property:bs.test.prop01=0
 setprop bs.test.prop02 "0"
 
service test_service_001 /system/bin/sh /data/develop/init001.custom.sh
   user root
   group root
   disabled
       seclabel u:r:magisk:s0
   oneshot
 
service test_service_002 /system/bin/sh ${MAGISKTMP}/init002.custom.sh
   user root
   group root
   disabled
   seclabel u:r:magisk:s0
   oneshot
 
on property:bs.test.prop01=9
    exec u:r:magisk:s0 -- /system/bin/sh /data/develop/init.custom001.sh 001
 
on property:bs.test.prop01=8
    exec u:r:magisk:s0 -- /system/bin/sh ${MAGISKTMP}/init.custom002.sh 000
 
on property:bs.test.prop02=10
 start test_service_001
 
on property:bs.test.prop02=20
 start test_service_002
 
on early-init
 setprop bs.test.prop01 "111"
 setprop bs.test.prop02 "222"

on charger
 setprop ro.bootmode "normal"
 setprop sys.powerctl "reboot"

